DATABASE_URL="postgresql://postgres:postgres@localhost:5432/flash_db?schema=public"
PORT=5000
CLIENT_URL="http://localhost:5173"

# Firebase Admin SDK settings (Get from Google Cloud Console / Firebase Console)
FIREBASE_PROJECT_ID="your-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxx@your-project-id.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour\nKey\nHere\n-----END PRIVATE KEY-----\n"
